<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tac</title>
    <link href="/static/layui/css/layui.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/layui/layui.js"></script>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <ul class="layui-nav">
            <li class="layui-nav-item {{if .Request_url}}{{if eq "/" .Request_url}}layui-this{{end}}{{end}}" >
                <a href="" class="logo">Tac</a>
            </li>
            <li class="layui-nav-item layui-this">
                <a href="javascript:;">任务管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="">后台任务</a></dd>
                    <dd><a href="">计划任务</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav fly-nav-user">
            <li class="layui-nav-item">
                <a id="login">登入</a>
            </li>
            <li class="layui-nav-item">
                <a id="register" rel="nofollow">注册</a>
            </li>
            <span class="layui-nav-bar"></span>
        </ul>
    </div>
</div>
<div class="content">
    <div class="layui-container">
        <div class="layui-row" style="padding-top: 8px;">
            <div class="layui-col-md3">
                <span class="layui-breadcrumb">
                  <a href="/" class="fontsize">Tac</a>
                  <a href="#" class="fontsize fontcolor">任务管理</a>
                  <a href="#" class="fontsize fontcolor" style="color: #5FB878!important;">后台任务</a>
                </span>
            </div>
            <div class="layui-col-md3">&nbsp;</div>
            <div class="layui-col-md3">&nbsp;</div>
            <div class="layui-col-md3">
                <button class="layui-btn" style="float: right;" id="addbackgroundtask">新建后台任务</button>
            </div>
        </div>
        <!--后台任务表格start-->
        <div class="layui-row">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <div class="layui-form">
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="150">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>pid</th>
                            <th>任务名</th>
                            <th>状态</th>
                            <th>创建人</th>
                            <th>执行环境</th>
                            <th>时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{ range $index,$elem :=.data}}
                                <tr>
                                    <td class="taskpid">{{$elem.pid}}</td>
                                    <td class="taskname">{{$elem.taskname}}</td>
                                    <td>
                                    {{ if eq "1" $elem.status }}
                                        <span class="layui-badge layui-bg-running">running</span>
                                        {{else if eq "0" $elem.status}}
                                        <span class="layui-badge layui-bg-stopping">stop</span>
                                    {{end}}
                                    </td>
                                    <td>{{$elem.author}}</td>
                                    <td>{{$elem.ipaddress}}</td>
                                    <td>{{$elem.addtimes}}</td>
                                    <td>
                                        <ul class="actions">
                                            <li><button class="layui-btn layui-btn-danger layui-btn-xs" id="taskdelete">删除</button></li>
                                            <li><button class="layui-btn layui-btn-danger layui-btn-xs" id="taskrestart">重启</button></li>
                                            <li><button class="layui-btn layui-btn-danger layui-btn-xs" id="taskstop">停止</button></li>
                                            <li><button class="layui-btn layui-btn-warm layui-btn-xs" id="taskview">查看</button></li>
                                            <li><button class="layui-btn layui-btn-xs" id="taskstart">启动</button></li>
                                        </ul>
                                    </td>
                                </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
                <div class="layui-col-sm12 layui-col-md12 layui-col-xs12" >

                </div>

            </div>
        </div>
        <!--后台任务表格end-->
        <!--弹出框-->
        <div class="layui-layer layui-layer-page layui-layer-rim" id="layui-layer4" type="page" times="4" showtime="0" contype="string"
             style="z-index: 19891018;top: 11%;width: 420px; height: 600px; left: 40%;display: none">
            <br>
            <div class="layui-layer-title" style="cursor: move;">创建后台任务</div>
            <div id="" class="layui-layer-content" style="height: 544px;">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label layui-form-label-custom">执行环境：</label>
                        <div class="layui-input-block layui-input-custom1">
                            <select name="ipaddress" lay-filter="aihao">
                                {{range $index,$elem :=.iplist}}
                                    <option value="{{$elem.ip}}">{{$elem.ip}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label layui-form-label-custom">任务名称：</label>
                        <div class="layui-input-block layui-input-custom1">
                            <input type="text" name="taskname" lay-verify="title" autocomplete="off" placeholder="请输入任务名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label layui-form-label-custom">版本库url：</label>
                        <div class="layui-input-block layui-input-custom1">
                            <input type="text" name="url" lay-verify="title" autocomplete="off" placeholder="请输入版本库url" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label layui-form-label-custom">版本号：</label>
                        <div class="layui-input-block layui-input-custom1">
                            <input type="text" name="svn_number" lay-verify="svn_number" autocomplete="off" placeholder="*代表最新版本" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label layui-form-label-custom">版本库用户名：</label>
                        <div class="layui-input-block layui-input-custom1">
                            <input type="text" name="svnuser" lay-verify="svnuser" autocomplete="off" placeholder="请输入版本库名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label layui-form-label-custom">版本库密码：</label>
                        <div class="layui-input-block layui-input-custom1">
                            <input type="text" name="svnpasswd" lay-verify="svnpasswd" autocomplete="off" placeholder="请输入版本库密码" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label layui-form-label-custom">执行命令：</label>
                        <div class="layui-input-block layui-input-custom1">
                            <input type="text" name="action_cmd" lay-verify="action_cmd" autocomplete="off" placeholder="请输命令" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label layui-form-label-custom">备注：</label>
                        <div class="layui-input-block layui-input-custom1">
                            <textarea placeholder="请输入内容" class="layui-textarea" rows="2" id="etc"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="demo1" id="addtasksubmit">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
            <span class="layui-layer-setwin">
                <a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a>
            </span>
            <span class="layui-layer-resize"></span>
        </div>
    </div>
</div>


<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element','layer', function(){
        var element = layui.element;
        var $ = layui.jquery, layer = layui.layer;

        //…
    });
    $("#taskrestart").on("click",function () {
        taskname = $(this).parents("tr").find(".taskname").text();
        taskid = $(this).parents("tr").find(".taskpid").text();
        alert(value)
    });
    $("#taskview").on("click",function () {
        taskid=$(this).parents("tr").find(".taskpid").text();
        $.ajax({
           "url":"/api/v1/backendtaskmanage?taskid="+taskid,
           "type":"get",
           "success":function (result) {
               alert(JSON.stringify(result))
           }
        });
    });

</script>
<script>
    layui.use('layer', function(){ //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
        $("#addbackgroundtask").on("click",function () {
            $("#layui-layer4").css("display","block");
        })

    });
    $(".layui-layer-close1").on("click",function () {
        $("#layui-layer4").css("display","none");
    })
</script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
                ,layer = layui.layer
                ,layedit = layui.layedit
                ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 3){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });

        //监听提交
        form.on('submit(demo1)', function(data){
            console.log(data.field);
            $.ajax({
               url:"/api/v1/addbackendtaskmanage",
                type:"post",
                contentType: "application/json; charset=utf-8",
                data:JSON.stringify(data.field),
                dataType: "json",
                success:function (result) {
                    console.log(result)
                    if(result.code==0){
                        layer.alert("chenggong");
                        $("#layui-layer4").css("display","none");
                    }
                }
            });
            return false;
        });


    });
</script>
</body>
</html>